<a name = 'head'></a>

<hr class="dashed" style = 'color: #08CC5B'>

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'background-color: #6C07B2; padding: 5px 5px 3px 5px; line-height: 1.5; color:white; border-radius: 3px; font-size: 14px; font-weight: 475; text-align: center; border-top: 2px solid #FFB83C; border-bottom: 2px solid #FFB83C;'  colspan="3"> |  <a href="#head">Top</a>  |  <a href="#link">Link</a>  |  <a href="#link">Link</a>   |  <a href="#link">Link</a>  |  <a href="#link">Link</a> |  <a href="#link">Link</a>  |  <a href="#link">Link</a>  |  <a href="#link">Link</a>  |  </font></th>
		</tr>
	</table>
</html>

<hr class="dashed" style = 'color: #08CC5B'>

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'background-color: #A523FF; padding: 5px 5px 3px 5px; line-height: 1.5; color:white; border-radius: 3px;; text-align: center; border-top: 2px solid #A523FF; border-bottom: 2px solid #FFB83C; font-size: 28px;' colspan="3">Udemy Finance APIs: FXCM</font></th>
		</tr>
		<tr>
			<th style = 'font-size: 17px; font-weight: 525; background-color: #0F793C; padding: 8px; line-height: 1.5; color:white; border-radius: 3px; text-align: center;' colspan="3">|  <a href = 'https://www.fxcm.com/markets/'>FXCM Online</a>  |  <a href = 'link'>Link</a>  |</font></th>
		</tr>
	</table>
</html>

<html>
	<table>
	<tr style = 'border-top: 2px solid #08CC5B; background-color: #6C07B2; color: white; border-bottom: px solid #08CC5B;' colspan = 3> 
			<td style = 'font-size: 13px; text-align: center;' colspan = 5><b>Evan Marie online</b>:  |  <a href = 'https://www.evanmarie.com/'>EvanMarie.com</a>|  <a href = 'mailto:evanmarie@proton.me'>EvanMarie@Proton.me</a>  |  <a href = 'https://www.linkedin.com/in/evanmarie/'>Linked In</a>  |  <a href = 'https://github.com/EvanMarie'>GitHub</a>   |  <a href = 'https://huggingface.co/EvanMarie'>Hugging Face</a>  |  <a href = 'https://sigmoid.social/@EvanMarie'>Mastadon</a>  |  <a href = 'https://jovian.ai/evanmarie'>Jovian.ai</a>  |  <a href = 'https://www.tiktok.com/@evanmarie_123'>TikTok</a>  |  <a href = 'https://www.codewars.com/users/EvanMarie'>CodeWars</a>  |  <b>Discord ⇨ ✨ EvanMarie ✨#6114</b>  |
			</td></tr>
	</table>
</html>

* Leader in online foreign exchange trading
* Stocks and CFD trading (contract for difference, highly levered financial instrument)
* Cryptocurrencies

<html>
	<table style="width:50%;">
		<tr>
			<th style = 'font-size: 16px; font-weight: 500; background-color: #FFB83C; padding: 5px 5px 3px 10px; line-height: 1.5; text-align: left; color:black;border-radius: 3px;; text-align: center;' colspan="3"><b>Pros and Cons of FXCM</b></font></th>
		</tr>
	</table>
</html>
<font size = 4>Pros:<br></font>
- Completely free with a demo account, which does not allow live trading<br>
- Large datasets available for currencies, commodities, and indexes<br>
- High frequency real-time data<br>
- You can stream the high frequency real-time data<br>
- Bid and ask prices are available<br>
- fxcmpy is a powerful and professional wrapper package for python<br>
	
<br>

<font size = 4>Cons:<br></font>
- Must register and make a demo account
- marketing calls and emails to create a live account
- demo accounts are not available in all countries, for example, the United State
- No data for single stocks and bonds, no fundamentals
- Only provide indexes, currencies, etc

In [1]:
from helpers_mardi_gras import *
import fxcmpy
import_all()
plt.style.use('mardi_gras.mplstyle')

In [2]:
%%html
<style>
a:link {color: #FFB83C !important; font-weight: 600 !important;}
a:visited {color: #FFB83C !important; font-weight: 600 !important;}
</style>

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'font-size: 20px; font-weight: 525; background-color: #08CC5B; padding: 8px; line-height: 1.5; color:black; border-radius: 3px; text-align: center;' colspan="3">FXCM: First Steps</font></th>
		</tr>
	</table>
</html>

In [3]:
api_key = '697845399f900ead7ae7004308c5eb7c00b2cd6b'
api = fxcmpy.fxcmpy(access_token = api_key, log_level = 'error')

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'font-size: 16px; font-weight: 500; background-color: #FFB83C; padding: 5px 5px 3px 10px; line-height: 1.5; text-align: left; color:black;border-radius: 3px;; text-align: left;' colspan="3"><b># api is an fxcmpy object</b></font></th>
		</tr>
	</table>
</html>

In [4]:
api

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'font-size: 16px; font-weight: 500; background-color: #FFB83C; padding: 5px 5px 3px 10px; line-height: 1.5; text-align: left; color:black;border-radius: 3px;; text-align: left;' colspan="3"><b><i># api.get_instruments()</b></i> - trading instruments</font></th>
		</tr>
	</table>
</html>

In [5]:
pretty('api.get_instruments')
help(api.get_instruments)

Help on method get_instruments in module fxcmpy.fxcmpy:

get_instruments() method of fxcmpy.fxcmpy.fxcmpy instance
    Return the tradeable instruments of FXCM as a list.

In [7]:
trading_instruments = pd.Series(api.get_instruments())

In [11]:
see(trading_instruments.sample(10), '10 samples of trading instrumentsv')

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'font-size: 16px; font-weight: 500; background-color: #FFB83C; padding: 5px 5px 3px 10px; line-height: 1.5; text-align: left; color:black;border-radius: 3px;; text-align: left;' colspan="3"><b><i>api.close()</i></b>- disconnect from the server</font></th>
		</tr>
	</table>
</html>

In [ ]:
api.close()

<a name = 'head'></a>

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'background-color: #A523FF; padding: 5px 5px 3px 5px; line-height: 1.5; color:white;border-radius: 3px;; text-align: center; border-bottom: 1.5px solid white;' colspan="3"><font size = 6>Downloading Historical Data</font></th>
		</tr>
		<tr>
			<th style = 'font-size: 16px; font-weight: 525; background-color: #FFB83C; padding: 8px; line-height: 1.5; color:black; border-radius: 3px; text-align: left;' colspan="3">-<i> get_candles()</i></font></th>
		</tr>
	</table>
</html>

In [ ]:
api_key = '697845399f900ead7ae7004308c5eb7c00b2cd6b'
api = fxcmpy.fxcmpy(access_token = api_key, log_level = 'error')

In [12]:
pretty('api.get_candles()')
help(api.get_candles)

Help on method get_candles in module fxcmpy.fxcmpy:

get_candles(instrument='', offer_id=None, period='H1', number=10, start=None, end=None, with_index=True, columns=[], stop=None) method of fxcmpy.fxcmpy.fxcmpy instance
    Return historical data from the fxcm database as pandas.DataFrame.

    Arguments:

    instrument: string (default ''):
        the instrument for which data is requested. For a list of all
        available instruments for historical data, use
        get_instruments_for_candles().
        If the value is equal to '' (default), offer_id must have a value.
        If both, instrument and offer_id are given, the value of instrument
        is used.

    offer_id: integer (default None):
        the id of the instrument for which data is requested as given in the
        offer trading table as given by get_offers(). If offer_id is equal
        to None (default), the parameter instrument must have a value.
        If both, instrument and offer_id are given, the value of instrument
        is used.

    period: string,
        the granularity of the data. Must be one of
        'm1', 'm5', 'm15', 'm30', 'H1', 'H2', 'H3', 'H4', 'H6', 'H8',
        'D1', 'W1', or 'M1'.

    number: integer (default 10),
        the number of candles to receive.

    start: datetime.datetime, datetime.date or string (defaut None),
        the first date to receive data for.

    end: datetime.datetime, datetime.date or string (default None),
        the last date to receive data for.

    with_index: boolean (default True),
        whether the column 'date' should server as index in the resulting
        pandas.DataFrame.

    columns: list (default list()),
        a list of column labels the result should include. If empty, all
        columns are returned.

        Available column labels are

        'date', 'bidopen', 'bidclose', 'bidhigh', 'bidlow',
        'askopen', 'askclose', 'askhigh', 'asklow', 'tickqty'.

        Also available is 'asks' as shortcut for all ask related columns
        and 'bids' for all bid related columns, respectively.

        The column 'date' is always included.

    Returns:

    A pandas DataFrame containing the requested data.

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'font-size: 16px; font-weight: 500; background-color: #FFB83C; padding: 5px 5px 3px 10px; line-height: 1.5; text-align: left; color:black;border-radius: 3px;; text-align: left;' colspan="3"><b><i># hourly data by default</i></b></font></th>
		</tr>
	</table>
</html>

In [13]:
pretty("api.get_candles('EUR/USD')")
api.get_candles('EUR/USD').head(5).style.format(precision = 4)

In [14]:
pretty("api.get_candles('USD/JPY')")
api.get_candles('USD/JPY').head(5).style.format(precision = 4)

In [15]:
pretty("api.get_candles('GBP/USD')")
api.get_candles('GBP/USD').head(5).style.format(precision = 4)

In [16]:
api.close()

<a name = 'head'></a>

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'background-color: #A523FF; padding: 5px 5px 3px 5px; line-height: 1.5; color:white;border-radius: 3px;; text-align: center; border-bottom: 1.5px solid white;' colspan="3"><font size = 6>Intraday Frequency</font></th>
		</tr>
		<tr>
			<th style = 'font-size: 15px; font-weight: 500; background-color: #FFB83C; padding: 8px; line-height: 1.5; color:black; border-radius: 3px; text-align: left;' colspan="3">- <b><i>period</b></i>: string, the granularity of the data<br>- Must be one of: 'm1', 'm5', 'm15', 'm30', 'H1', 'H2', 'H3', 'H4', 'H6', 'H8', 'D1', 'W1', or 'M1'<br>- <b><i>number</b></i>: integer (default 10),
        the number of candles to receive.</font></th>
		</tr>
	</table>
</html>

In [17]:
api_key = '697845399f900ead7ae7004308c5eb7c00b2cd6b'
api = fxcmpy.fxcmpy(access_token = api_key, log_level = 'error')

In [18]:
pretty("api.get_candles('EUR/USD', period = 'D1'")
api.get_candles('EUR/USD', period = 'D1').head(5).style.format(precision = 4)

In [19]:
pretty("api.get_candles('EUR/USD', period = 'm1')")
api.get_candles('EUR/USD', period = 'm1').head(5).style.format(precision = 4)

In [26]:
import random
instrument = random.choice(trading_instruments)

In [29]:
pretty(f"api.get_candles('Copper', period = 'H3')")
api.get_candles('Copper', period = 'H3').head(5).style.format(precision = 4)

In [30]:
api.close()

<a name = 'head'></a>

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'background-color: #A523FF; padding: 5px 5px 3px 5px; line-height: 1.5; color:white;border-radius: 3px;; text-align: center; border-bottom: 1.5px solid white;' colspan="3"><font size = 6>Defining Time Period</font></th>
		</tr>
		<tr>
			<th style = 'font-size: 16px; font-weight: 525; background-color: #FFB83C; padding: 8px; line-height: 1.5; color:black; border-radius: 3px; text-align: left;' colspan="3">- Explanations</font></th>
		</tr>
	</table>
</html>

<a name = 'head'></a>

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'background-color: #A523FF; padding: 5px 5px 3px 5px; line-height: 1.5; color:white;border-radius: 3px;; text-align: center; border-bottom: 1.5px solid white;' colspan="3"><font size = 6>Section Title</font></th>
		</tr>
		<tr>
			<th style = 'font-size: 16px; font-weight: 525; background-color: #FFB83C; padding: 8px; line-height: 1.5; color:black; border-radius: 3px; text-align: left;' colspan="3">- Explanations</font></th>
		</tr>
	</table>
</html>

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'font-size: 20px; font-weight: 525; background-color: #08CC5B; padding: 8px; line-height: 1.5; color:black; border-radius: 3px; text-align: center;' colspan="3">Strong Topic</font></th>
		</tr>
	</table>
</html>

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'font-size: 17px; font-weight: 525; background-color: #6C07B2; padding: 8px; line-height: 1.5; color:white; border-radius: 3px;; text-align: left;' colspan="3">Topic</font></th>
		</tr>
	</table>
</html>

<html>
	<table style="width:100%;">
		<tr>
			<th style = 'font-size: 16px; font-weight: 500; background-color: #FFB83C; padding: 5px 5px 3px 10px; line-height: 1.5; text-align: left; color:black;border-radius: 3px;; text-align: left;' colspan="3"><b><i>comment</i></b></font></th>
		</tr>
	</table>
</html>